
    {% if form_field.errors %}
    <div class="alert alert-danger fade in">
    {% endif %}
        {% if has_icon %}<i class="material-icons prefix">{{has_icon}}</i>{% endif %}               
           <div class="form-group">
                <label for="{{name}}">{{label}}</label>
                <input name="{{name}}" id="{{name}}" class="form-control" type="{{type}}">    
           </div>                  
    {% if form_field.errors %}
        <strong>{{form_field.errors}}</strong>
    </div>
    {% endif %}


