<div class="post">
    {% if is_href %}<a href="/{{post.user.username}}/{{post.blog.name}}/post{{post.id}}">{% endif %}
    <h5>{{post.title}}</h5>
    {% if is_href %}</a>{% endif %}

    {% if not post.visible %}<p class="red-text">Private</p>{% endif %}
    <span class="glyphicon glyphicon-time"></span>{{post.created}}
    <div class="post-text" >{{post.body|truncatewords_html:20|safe}}</div>
    <div class="row">
        <a href="/{{post.user.username}}/"><span class="glyphicon glyphicon-user"></span>{{post.user}}</a>
        <span class="padding-0px-8px">
        {% if not user = post.user %}
        <a href="like{{post.id}}/" id='like{{post.id}}'>
        {% endif %}
            <span class="glyphicon glyphicon-thumbs-up"></span>
        {% if not user = post.user %}
        </a>
        {% endif %}
        </span>

        {% if not user = post.user %}
        <a href="dislike{{post.id}}/" id='dislike{{post.id}}'>
        {% endif %}
            <span class="glyphicon glyphicon-thumbs-down"></span>
        {% if not user = post.user %}
        </a>
        {% endif %}
        <span class="{% if post.rating > 0 %}green-text {% else %} brown-text {% endif %}">{{post.rating}}</span>
        <br><br>
        {% if not user = post.user %}
        <a href="/complain/post/{{post.id}}" style="color: #C80000 ;">
        <i class="tiny material-icons prefix">
        error
        </i>
        Complain
        </a>
        {% endif %}
    </div>
    <ul class="tags">
        {% for tag in post.tag.all %}
            <li><a href="/search/tag/{{tag}}" class="tag">{{tag}}</a></li>
        {% endfor %}
    </ul>
</div>
















