<head>
    <meta charset="utf-8">

    <link rel="stylesheet" type="text/css" href="css/tag.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <script src="js/jquery-3.1.1.min.js" type="text/javascript"></script>
    <script src="js/bootstrap-3.3.7.min.js" type="text/javascript"></script>
    <script src="js/script.js" type="text/javascript"></script>
</head>
<body>
<div class="row">           
    <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4"> 
{% block menu %}
        <div class="span1 vert-offset-top-2 fixed">
            <div class="menu-panel">            
                <ul class="nav nav-pills nav-stacked">
                {% if session.user_id %}
                    <li>
                    {% include "include/menu_button.html" with href="/" glyphicon_name="home" tooltip="Home" %}
                    </li>
                    <li class="left-offset-3px">
                    {% include "include/menu_button.html" with href="/favorites" glyphicon_name="star" tooltip="Favorites" %}
                    </li>
                    <li>
                    {% include "include/menu_button.html" with href="/add-film" glyphicon_name="list-alt" tooltip="Add film" %}
                    </li>
                <!-- <li clsas="left-offset-2px">
                    include "include/menu_button.html" with href="/profile" glyphicon_name="cog" tooltip="Change personal information"
                </li> -->
                    <li class="left-offset-4px">
                    {% include "include/menu_button.html" with href="/logout" glyphicon_name="log-out" tooltip="Logout" %}
                    </li>
                {% else %}
                    <li>
                    {% include "include/menu_button.html" with href="/search" glyphicon_name="search" tooltip="Search" %}
                    </li>
                    <li>
                    {% include "include/menu_button.html" with href="/" glyphicon_name="home" tooltip="Home" %}
                    </li>
                    <li>
                    {% include "include/menu_button.html" with href="/login" glyphicon_name="log-in" tooltip="Login" %}
                    </li>
                    <li>
                    {% include "include/menu_button.html" with href="/register" glyphicon_name="registration-mark" tooltip="Register" %}
                    </li>
                {% endif %}
                </ul>
            </div>
        </div>
{% endblock %}	
    </div>
<div class="span8 offset3 vert-offset-top-2">

{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}
</div>
</div>

<script>
        $(document).ready(function(){
            $("[data-toggle="tooltip"]").tooltip(); 
        });
</script>

</body>

</html>














