{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
      <form action="/register" method="post" class="register-form"> 
        {% include "include/input_field.html" with name="username" label="USERNAME" type="text" %}
        {% include "include/input_field.html" with name="password" label="PASSWORD" type="password" %}  
        <hr>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
              <button class="btn btn-default regbutton">Register</button>      
            </div> 
        </div>    

        {% if  error-message %}
        <div class="alert alert-danger" role="alert">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="sr-only">Error:</span>
          {{error-message}}
        </div>
        {% endif %}
    </form> 
</div>

{% endblock %}